h2 {
    font-style: italic;
    color: rgb(241, 241, 248);
}

h5 {
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: rgb(4, 245, 245);
}

#BodyBG {
    background-color: rgb(158, 99, 252);
    display: flex;
    flex-direction: column;
}