body {
    background-image:    url("itachi1.jpg");                     
    background-position: center;              
}

.videoViewer {

    position: relative;

    padding-bottom: 50%;

    padding-top: 25px;

    height: 0;

}

.videoViewer iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

}

#l1 {
    color:aqua;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    
    
}

#l2{
    color:aquamarine;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l3 {
    color:azure;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    
}

#l4 {
    color:aqua;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    
}

#l5 {
    color:aquamarine;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l6 {
    color:azure;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l7 {
    color:aqua;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l8 {
    color:aquamarine;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l9 {
    color:azure;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l10 {
    color:aqua;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#l11 {
    color:aquamarine;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l12 {
    color:azure;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l13 {
    color:aqua;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l14 {
    color:aquamarine;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l15 {
    color:azure;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

#l16 {
    color:aqua;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
     
}

