body{
    background-color: pink;
}

.videoViewer {

    position: relative;

    padding-bottom: 50%;

    padding-top: 25px;

    height: 0;

}

.videoViewer iframe {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

}

h1{
    color: red;
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

h2{
    color:blue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
p{
    font-style: italic;
}
#l1 {
    color:orangered;
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    
}

.l2 {   
    color:rgb(161, 70, 10);
    font-size: 1vw;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline; 
}