body {
    background-image:    url("703709.png");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;              
}
#p1 {
    color:steelblue;
    font-size: 1vw;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.p2 {
    color:teal;
    font-size: 1vw;
    text-align: center;
}

li{
    color:purple;
    font-size: 1vw;
}
