body {
    background-image:    url("sesuke.jpg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;              
}

td{
    background-color:rgb(209, 149, 243);
    align-content: center;
    font-family: Arial Narrow Bold;
    font-size: 15px;
    text-align: center;
    height: 50px;
    width: 100px;
    font-weight: bold
}